<div class="dashboard-container">
    <!-- Barre de recherche -->
     <h2>Statistique des montants en caisse</h2>
    <div class="search-box">
        <label for="annee">Choisir une année :</label>
        <input type="number" id="annee" [(ngModel)]="annee" (change)="loadStatistiques()" min="2000" max="2100">
    </div>

    <!-- Graphique -->
    <div class="chart-container">
        <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType">
        </canvas>
    </div>
</div>
