<div class="titre">
  <h1>Liste des réservations confirmé </h1>

</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Parking</th>
        <th>Véhicules</th>
        <th>Date debut</th>
        <th>Date fin</th>
      </tr>
    </thead>
    <tbody>
      <!-- Itérer sur les réservations -->
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.id_parking.numero }}</td>
        <td>{{ reservation.id_vehicule.immatriculation }}</td>  <!-- Afficher le véhicule -->
        <td>{{ reservation.date_debut | date:'dd/MM/yyyy HH:mm:ss' }}</td>  <!-- Afficher la date de début au format souhaité -->
        <td>{{ reservation.date_fin  | date:'dd/MM/yyyy HH:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>
</div>
