<div class="menu">
  <ul>
    <li *ngIf="!isAuthenticated">
      <a routerLink="/connexion">Connexion</a>
    </li>
    <li *ngIf="isAuthenticated">
      <button (click)="logout()">Déconnexion</button>
    </li>
      <li><a href="/services">Services</a></li>

      <li class="has-submenu">
        <a href="#">Véhicules  <i class="fa fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a href="/ajout-vehicule">Ajout</a></li>
          <li><a href="/gestion-vehicule">Gestion véhicule</a></li>
        </ul>
      </li>

      <li class="has-submenu">
        <a href="#">Intervention</a>
        <ul class="submenu">
          <!-- <li><a href="/list-intervention-client">Liste interbe, </a></li> -->
          <li><a href="/historiques-interventions-vehicules">Historiques interventions </a></li>
        </ul>
      </li>

      <li class="has-submenu">
        <a href="#">Facture</a>
        <ul class="submenu">
          <!-- <li><a href="/list-intervention-client">Liste interbe, </a></li> -->
          <li><a href="/facturation-parking">Facture parking</a></li>
          <li><a href="/facturation-service">Facture service</a></li>
        </ul>
      </li>


      <li class="has-submenu">
        <a href="#">Rendez-vous  <i class="fa fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a href="/list-rendez-vous-client">Listes rendez-vous </a></li>
          <li><a href="/list-rendez-vous-client-confirmer">Listes rendez-vous confirmer</a></li>
          <li><a href="/list-rendez-vous-non-dispo-attente">Liste des rendez-vouc non dispo et en attente</a></li>
        </ul>
      </li>


      <li><a href="/gestion-client-inscrits">Listes clients</a></li>

      <li class="has-submenu">
        <a href="#">Devis  <i class="fa fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a href="/demande-devis-client">Demande devis</a></li>
      <li><a href="/list-demande-attente-client">Demande en Attente</a></li>
      <li><a href="/list-demande-envoye-client">Demande envoyé</a></li>
        </ul>
      </li>

      <li class="has-submenu">
        <a href="#">Réservations <i class="fa fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a href="/reservation-parking">Réservation Parking</a></li>
          <li><a href="/list-reservation-client">Réservation envoyé</a></li>
          <li><a href="/list-reservation-confirme">Réservation Validé</a></li>
        </ul>
      </li>
  </ul>
</div>

<!-- Ajout de FontAwesome pour les icônes -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
