<div class="menu">
  <ul>
      <li><a href="/connexion">Connexion</a></li>
      <li><a href="/services">Services</a></li>


      <li class="has-submenu">
        <a href="#">Véhicules  <i class="fa fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a href="/ajout-vehicule">Ajout</a></li>
          <li><a href="/gestion-vehicule">Gestion véhicule</a></li>
        </ul>
      </li>

      <li><a href="/gestion-client-inscrits">Listes clients</a></li>

      <li class="has-submenu">
        <a href="#">Devis  <i class="fa fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a href="/demande-devis-client">Demande devis</a></li>
      <li><a href="/list-demande-attente-client">Demande en Attente</a></li>
      <li><a href="/list-demande-envoye-client">Demande envoyé</a></li>
        </ul>
      </li>

      <li class="has-submenu">
        <a href="#">Réservations <i class="fa fa-chevron-down"></i></a>
        <ul class="submenu">
          <li><a href="/reservation-parking">Réservation Parking</a></li>
          <li><a href="/list-reservation-client">Réservation envoyé</a></li>
          <li><a href="/list-reservation-confirme">Réservation Validé</a></li>
        </ul>
      </li>
  </ul>
</div>

<!-- Ajout de FontAwesome pour les icônes -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
