
<div class="services-container">
  <div *ngFor="let service of services; trackBy: trackByService" class="service">
    <div class="service-image">
      <img [src]="service.imageUrl || 'assets/default-image.jpg'" alt="Image du service" />
    </div>
    <div class="service-description">
      <h2>{{ service.nom_service }}</h2>
      <p class="service-text">{{ service.description }}</p>
    </div>
    <button (click)="openModal(service._id)">Voir les sous-services</button>
  </div>
</div>


<!-- Pagination -->
<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
  <span>Page {{ currentPage }} sur {{ totalPages }}</span>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
</div>

<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="modal">
    <h1 style="color: #008080;">Sous-services</h1>
    <button class="close-btn" (click)="closeModal()">X</button>

    <div *ngIf="sous_services.length > 0; else noSousService">
        @for (sous_service of sous_services; track sous_service._id) {
          <div class="sous-services">
            <div class="sous-services-description">
              <h2>{{ sous_service.nom_sous_service }}</h2>
            </div>
          </div>}
    </div>

    <ng-template #noSousService>
      <p>Aucun sous-service disponible.</p>
    </ng-template>
  </div>
</div>

