

<body>
  <div class="background-overlay"></div>
  <div class="menu">MENU</div>
  <div class="titre">
    <h1>Liste des services</h1>
  </div>
  <div class="services-container">

      <div class="service">
        <div class="service-image">Image</div>
        <div class="service-description">
            <h2>Parking</h2>
            <p>Description du service de parking.</p>
        </div>
    </div>
      <div class="service">
          <div class="service-image">Image</div>
          <div class="service-description">
              <h2>Lavage</h2>
              <p>Description du service de lavage.</p>
          </div>
      </div>
      <div class="service">
        <div class="service-image">Image</div>
        <div class="service-description">
            <h2>Parking</h2>
            <p>Description du service de parking.</p>
        </div>
    </div>
    <div class="service">
      <div class="service-image">Image</div>
      <div class="service-description">
          <h2>Parking</h2>
          <p>Description du service de parking.</p>
      </div>
  </div>
  <div class="service">
    <div class="service-image">Image</div>
    <div class="service-description">
        <h2>Parking</h2>
        <p>Description du service de parking.</p>
    </div>
</div>
<div class="service">
  <div class="service-image">Image</div>
  <div class="service-description">
      <h2>Parking</h2>
      <p>Description du service de parking.</p>
  </div>
</div>
  </div>
  <footer>FOOTER</footer>
</body>
