<div class="background-overlay"></div>

<div class="connexion-container">
  <div class="connexion">
    <div class="connexion-description">
      <h2>Ajout vehicule</h2>

      <form (ngSubmit)="AddVehicule()" #addvehicule="ngForm">
        <div class="contain-input">
          <!-- Sélection de la Marque -->
          <div class="input-group">
            <label for="id_marque">Marques :</label>
            <select name="id_marque" [(ngModel)]="elementForm.id_marque" (change)="loadModel()" required>
              <option value="" disabled selected>-- Sélectionnez une marque --</option>
              <option *ngFor="let marque of marques" [value]="marque._id">{{ marque.nom_marque }}</option>
            </select>
          </div>

          <!-- Affichage des modèles sous forme de radio buttons -->
          <div class="input-group" *ngIf="modeles.length > 0">
            <label for="id_modele">Modèles :</label>
            <div *ngFor="let modele of modeles">
              <label>
                <input type="radio" name="id_modele" [(ngModel)]="elementForm.id_modele" [value]="modele._id" required />
                {{ modele.nom_modele }}
              </label>
            </div>
          </div>

          <!-- Immatriculation -->
          <div class="input-group">
            <label for="immatriculation">Immatriculation</label>
            <input type="text" name="immatriculation" [(ngModel)]="elementForm.immatriculation" id="immatriculation" placeholder="Entrez votre immatriculation" required>
          </div>

          <!-- Année -->
          <div class="input-group">
            <label for="annee">Année</label>
            <input type="text" id="annee" name="annee" [(ngModel)]="elementForm.annee" placeholder="Entrez votre année" required>
          </div>
        </div>

        <div class="input-group">
          <label for="couleur">Couleur</label>
          <input type="text" id="couleur" name="couleur" [(ngModel)]="elementForm.couleur" placeholder="Entrez votre couleur" required>
        </div>

        <!-- Message d'erreur ou de succès -->
        <div *ngIf="serverMessage.text.length > 0" [ngClass]="serverMessage.class" class="server-message">
          {{ serverMessage.text }}
        </div>

        <!-- Option 1 : Bouton toujours actif -->
        <button type="submit" class="submit-btn">Ajouter</button>

        <!-- Option 2 : Bouton désactivé mais avec affichage du message d'erreur via la soumission -->
        <!-- <button type="submit" class="submit-btn" [disabled]="addvehicule.invalid">Ajouter</button> -->
      </form>

    </div>
  </div>
</div>
