<div class="dashboard-container">
    <div class="stat-card">
      <h3>Interventions Terminées</h3>
      <p>{{ totalInterventions }}</p>
    </div>

    <div class="stat-card">
      <h3>Nombre de Clients</h3>
      <p>{{ totalClients }}</p>
    </div>

    <div class="stat-card">
      <h3>Réservations Parking</h3>
      <p>{{ totalReservations }}</p>
    </div>

    <div class="stat-card">
      <h3>Total en Caisse</h3>
      <p>{{ totalCaisse | number:'1.2-2' }} Ariary</p>
    </div>

    <div class="stat-card">
      <h3>Mécaniciens Actifs</h3>
      <p>{{ totalMecaniciens }}</p>
    </div>
</div>
