<div class="titre">
  <h1>Liste des clients inscrits </h1>
  <!-- <div class="input-group">
    <label for="parking">Research</label>
    <input type="date" name="date_debut" id="date_debut" [(ngModel)]="elementSearchForm.date_debut" required>
    - <input type="date" name="date_fin" id="date_fin" [(ngModel)]="elementSearchForm.date_fin" required>
    <button type="button" class="submit-btn" (click)="getReservationSearch()">Search</button>
  </div> -->
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>date d'inscription</th>
        <th>nom</th>
        <th>prénom</th>
        <th>date de naissance</th>
        <th>Contact</th>
        <th>Adresse</th>
        <th>e-mail</th>
      </tr>
    </thead>
    <tbody>
      <!-- Itérer sur les réservations -->
      <tr *ngFor="let client of clients">
        <td>{{client.date_inscription | date:'dd/MM/yyyy HH:mm'}}</td>  <!-- Afficher le parking -->
        <td>{{client.nom}}</td>  <!-- Afficher le véhicule -->
        <td>{{client.prenom}}</td>  <!-- Afficher la date de début au format souhaité -->
        <td>{{client.date_naissance | date:'dd/MM/yyyy'}}</td>  <!-- Afficher la date de fin au format souhaité -->
        <td>{{client.contact}}</td>
        <td>{{client.adresse}}</td>
        <td>{{client.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
