<div class="titre">
  <h1>Liste des clients inscrits</h1>
</div>

<div class="input-group">
  <label for="parking">Research</label>
  <input type="text" [(ngModel)]="searchQuery" placeholder="Rechercher un client...">
  <button type="button" class="submit-btn" (click)="searchClients()">Rechercher</button>

</div>
  <!-- Affichage du message d'erreur -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
<div>
  <table>
    <thead>
      <tr>
        <th>Date d'inscription</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Contact</th>
        <th>Adresse</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let client of clients">
        <td>{{client.date_inscription | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{client.nom}}</td>
        <td>{{client.prenom}}</td>
        <td>{{client.date_naissance | date:'dd/MM/yyyy'}}</td>
        <td>{{client.contact}}</td>
        <td>{{client.adresse}}</td>
        <td>{{client.email}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pagination -->
<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
  <span>Page {{ currentPage }} sur {{ totalPages }}</span>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
</div>
