/* Style global du body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

/* Container principal */
.connexion-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: 320px;
  margin-top: 65px;
}



.connexion-description {
  text-align: center;
}

.connexion-description h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

/* Conteneur des inputs */
.contain-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Style des champs de formulaire */
.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

.input-group select,
.input-group input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.input-group select:focus,
.input-group input:focus {
  border-color: #2575fc;
  outline: none;
}

.input-group input[type="file"] {
  padding: 6px;
  font-size: 14px;
}

/* Style des boutons de sélection */
.input-group input[type="checkbox"] {
  margin-right: 10px;
}

/* Style du bouton de soumission */
.submit-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.submit-btn:hover {
  background-color: #218838;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Styles pour les erreurs ou avertissements */
.warning-text {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 10px;
}

/* Style pour l'arrière-plan overlay */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* message */

.server-message {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: 100%;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.server-message.show {
  opacity: 1;
  transform: translateY(0);
}

.server-message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.server-message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

