<body>
  <div class="background-overlay"></div>

  <div class="titre">
    <h1>Liste des sous-services</h1>
  </div>
  <div class="sous-services-container">
    <div class="sous-services">
      <div class="sous-services-description">
        <h2>Parking</h2>
        <button type="button" class="submit-btn">Demander devis</button>
      </div>
    </div>
    <div class="sous-services">
      <div class="sous-services-description">
        <h2>Parking</h2>
        <button type="button" class="submit-btn">Demander devis</button>
      </div>
    </div>
    <div class="sous-services">
      <div class="sous-services-description">
        <h2>Parking</h2>
        <button type="button" class="submit-btn">Demander devis</button>
      </div>
    </div>
  </div>
</body>
