<div class="background-overlay"  *ngIf="showPopup" (click)="closePopup()"></div>
<div class="titre">
  <h1>Gestion demande devis  </h1>
  <div class="input-group">
    <label for="parking">Research</label>
    <input type="date" name="date_debut" id="date_debut" [(ngModel)]="elementSearchForm.date_debut" required>
    - <input type="date" name="date_fin" id="date_fin" [(ngModel)]="elementSearchForm.date_fin" required>
    <button type="button" class="submit-btn" (click)="getListdemandeClientToManagerSearch()">Search</button>
  </div>
</div>

<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>

<!-- Popup -->
<!-- Popup -->
<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <span class="close-btn" (click)="closePopup()">&times;</span>
    <h2>Confirmer devis</h2>

    <h3>Services</h3>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Tarif</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of detailDevis?.devisServices">
          <td>{{ service.id_sous_service }}</td>
          <td>{{ service.tarif | currency }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Pièces</h3>
    <table>
      <thead>
        <tr>
          <th>Pièce</th>
          <th>Quantité</th>
          <th>Prix Unitaire</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let piece of detailDevis?.devisPieces">
          <td>{{ piece.id_piece }}</td>
          <td>{{ piece.quantite }}</td>
          <td>{{ piece.prix_unitaire | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div  *ngIf="demandes.length > 0 && !errorMessage">
  <table>
    <thead>
      <tr>
        <th>Date de demande</th>
        <th>Problème</th>
        <th>Immatriculation</th>
        <th>Service</th>
        <th>Sous service</th>
      </tr>
    </thead>
    <tbody>
      <!-- Itérer sur les réservations -->
      <tr *ngFor="let demande of (demandeClientSearch.length > 0 ? demandeClientSearch : demandes)">

        <td>{{ demande.date_demande | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ demande.probleme }}</td>
        <td>{{ demande.vehicule.immatriculation }}</td>
        <td>{{ demande.service_principal.nom }}</td>
        <td>
          <ul ngSkipHydration>
            <li *ngFor="let sous_service of (demande.sous_services || [])">
              {{sous_service.nom}}
            </li>
          </ul>
        </td>
        <td>
          <button type="button" (click)="openPopup(demande.id_demande)" class="submit-btn">envoyer</button>
       </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} sur {{ totalItems / pageSize  }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage * pageSize >= totalItems">Next</button>
  </div>
</div>
